.container {
    max-width: 768px;
    margin: 0 auto;
    margin-bottom: 50px;
    border: 2px solid #141414;
    border-radius: 10px;
}

.image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.name {
    font-size: 20px;
    font-weight: 800;
   margin-bottom: 10px;
}

.list_first{
    text-align: center;
    border-bottom: 2px solid #141414;
    
}
.tag {
    color: grey;
}

.location {
    color: grey;
}

.list {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #0f0e0e;
    border-right: 1px solid #141414;
    background: rgb(194, 189, 189);
}
.list_status{
    width: 100%;
    border-right: 2px solid #141414;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
     }

.number {
    font-weight: 700;
}
