.transaction_history {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
    
.transaction_history th,
.transaction_history td {
    /* border: 1px solid #dddddd; */
    /* Колір та товщина ліній */
    padding: 10px;
    text-align: left;
}

.tbody tr:nth-child(even) {
    background-color: rgb(191, 183, 183);
    
}

.tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.container {
    max-width: 768px;
    padding: 0 20px;
    margin: 0 auto;
    

}

.tr_list {
    display: flex;
    /* gap: 90px; */
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
       
}

.td {
    border-right: 2px solid #141414;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.tr_title {
    
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgb(69, 65, 65);
    color: #ffffff;
    border-right: 1px solid #141414;
    
}

.tbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.tr_list {
    border: 1px solid #141414;
    
}
.th {
    border-right: 2px solid #2f2d2d;
    width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
    }


